*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 35%; }
  @media (min-width: 37.5em) {
    html {
      font-size: 65%; } }

body {
  box-sizing: border-box;
  padding: 0;
  /*border-box: this helps define height and width for the whole box including padding/border */ }

/*animation for text boxes*/
@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    /*this makes it go 10px to the right 
        before it goes back to the home area*/
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    /*this makes it go 10px to the right 
        before it goes back to the home area*/
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  /*1.7 times bigger than previous line height*/
  color: #777;
  /*this puts padding around the whole webpage*/
  /*border-box: this helps define height and width for the whole box including padding/border */ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*this is to make the animation not glitch*/
  margin-bottom: 6rem;
  /*to put padding between h1 and btn*/
  margin-left: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /*these are the properties required to make
        an animation work*/
    animation-name: moveinleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*this makes it
        fast at first then slower towards the end*/
    /* animation-iteration-count: 3; to make it happen
        x amount of times use this */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    /* shorter syntax for animation in main*/
    animation: moveinright 1s ease-out; }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 80%;
  display: inline-block;
  background-image: linear-gradient(to right, #9735e7, #13e9b4);
  -webkit-background-clip: text;
  color: transparent;
  transition: .2s;
  letter-spacing: 2px;
  margin-top: -5rem; }
  .heading-secondary__modify {
    margin-top: 7rem;
    background-image: linear-gradient(to left, #9735e7, #13e9b4); }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(51, 51, 51, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 4rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 5rem !important; }

.btn {
  /*this is the start for the scale up animation*/
  /*********end header, button, scalu up animation, and text***********/ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* top/bottom 15px,
        right/left 40px..... if 4 numbers used:
        top, right, bottom, left side in that order*/
    display: inline-block;
    /*this because it should be
        in line with the element above it*/
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    /*to go up must use negative*/
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
    /*zero in x direction 10 in y, 20px blur last value is for subtle shadows*/ }
    .btn:hover::after {
      transform: scale(1.5);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    /*in relation to initial &:link state*/
    box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2);
    /*to reduce amount of shadow when active*/ }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #2eb85c;
    color: #fff; }
    .btn--green::after {
      background-color: #2eb85c; }
  .btn::after {
    /*psuedo element
        this creates a virtual button underneath our already made button*/
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    /*to put it behind our button use absolute.
        absolute positioning needs to have a reference, and the reference
        is the first element with a relative postion that it can find. In
        this case it would be header, but we want it to be the button so 
        we set the &:visited to relative */
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveinbottom 2s ease-out .75s;
    /*this delays it from the other animations .75s*/
    animation-fill-mode: backwards;
    /*this makes it not show before 
                                        animation starts or in other words, 
                                        automatically applies moveinbottom's 
                                        0% opacity to the button right off 
                                        the start*/ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  background-color: #2eb85c;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #2eb85c;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.15);
  transform: translateY(0); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(51, 51, 51, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    position: relative;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(0); }
  .story__img {
    height: 100%;
    transition: all .5s;
    transform: translateX(-4rem) translateY(0) scale(1.4);
    backface-visibility: hidden; }
    .story__img-scale {
      transform: translateX(-2rem) translateY(1rem) scale(1.2); }
  .story__text {
    margin-top: 3rem;
    color: #333; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) translateY(0) scale(1);
    filter: blur(3px) brightness(80%); }
    .story:hover .story__img-scale {
      transform: translateX(-2rem) translateY(2rem) scale(0.8); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -20;
  opacity: .25;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.composition {
  position: relative; }
  .composition__photo {
    width: 30%;
    box-shadow: -1rem 4rem 4rem rgba(51, 51, 51, 0.6);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      transform: translate(60%, 10rem) scale(0.7);
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      transform: translate(-50%, 5%) scale(0.7);
      z-index: 100;
      top: 1rem; }
    .composition__photo--p3 {
      left: 20%;
      transform: translate(100%, -5%) scale(0.7);
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #2eb85c;
      z-index: 20;
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 2.5rem 4rem rgba(51, 51, 51, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(57, 54, 223, 0.7), rgba(19, 233, 169, 0.7));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 75%, 0 100%);
  position: relative; }
  .header__logobox {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 10rem; }
  .header__textbox {
    position: absolute;
    top: 40%;
    /*this one and one below are in 
        relation to parent element*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*x, y -50% shifts it half of the way to the left and same with height*/
    text-align: center;
    /*this works for the button because
                            it acts as if it is text*/ }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  text-align: center;
  top: 3.5rem;
  right: 3.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(51, 51, 51, 0.1);
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  background-image: radial-gradient(#9735e7, #13e9b4);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: -5rem;
  left: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  width: 0; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #2eb85c;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.0rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.0rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-2-of-3-mid {
    width: 90%;
    padding: 0 5rem; }
  .row .col-1-of-3-mid {
    width: 50%;
    padding: 5rem 0; }
  .row .col-pad {
    padding: 0 10rem; }
  .row .col-2-of-2 {
    width: 100%;
    text-align: center; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem*2))/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2* ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem)); }

.footer {
  background-color: #333;
  padding: 6rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logobox {
    text-align: center;
    margin-bottom: 4rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    font-size: 145%; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    background-color: #333;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #2eb85c;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 1.5rem;
    width: 90%;
    float: none;
    margin-left: 5%; }

.section-mission {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }

.section-stories {
  position: relative;
  padding: none;
  margin-bottom: none;
  height: 100%;
  backface-visibility: hidden;
  background-image: linear-gradient(to right bottom, rgba(54, 71, 223, 0.8), rgba(19, 233, 162, 0.8));
  background-size: 100%; }
